---
import DownloadPdc from "~/components/download-pdc.astro";
import Solution from "~/components/solution.astro";
import Footer from "~/components/footer.astro";
import Header from "~/components/header.astro";
import Intro from "~/components/intro.astro";
import OverlapBackgroundEffect from "~/components/overlap-background-effect.astro";
import Showcase from "~/components/showcase.astro";
import Landing from "~/layouts/Landing.astro";
---

<Landing
  title="PDC Canvas - QMates"
  description="Build your own Product Development Consistency Canvas with QMates."
>
  <Header />
  <div class="pb-32">
    <Intro />
    <OverlapBackgroundEffect />
    <Solution />
    <DownloadPdc />
    <Showcase />
  </div>
  <Footer />
</Landing>
