---
import ContentSection from "~/components/content-section.astro";
import Gradient from "./gradient.astro";
import Input from "./input.astro";
import LeadForm from "./lead-form.astro";

---

<ContentSection id="compatibility" white={true} horizontal={true}>
  <Fragment slot="subtitle"><Gradient>Compatibility</Gradient></Fragment>
  <Fragment slot="lead">
    Astro <span class="text-primary">plays nice</span>. Bring your own UI{" "}
    <span class="text-primary">framework</span>
    and deploy to your favorite <span class="text-primary">platform</span>.
  </Fragment>
  <Fragment slot="content">
    <LeadForm>
      <Input
          name="firstName"
          type="text"
          placeholder="Name"
          required={true}
      />
      <Input
          name="emailAddress"
          type="email"
          placeholder="Email address"
          required={true}
      />
    </LeadForm>
  </Fragment>
</ContentSection>
