---
import ContentSection from "~/components/content-section.astro";
import Gradient from "./gradient.astro";
import Input from "./input.astro";

---

<ContentSection id="compatibility" white={true} horizontal={true}>
  <Fragment slot="subtitle"><Gradient>Compatibility</Gradient></Fragment>
  <Fragment slot="lead">
    Astro <span class="text-primary">plays nice</span>. Bring your own UI{" "}
    <span class="text-primary">framework</span>
    and deploy to your favorite <span class="text-primary">platform</span>.
  </Fragment>
  <Fragment slot="content">
    <form class="w-full mb-6 grid gap-6 px-8">
      <Input
          name="firstName"
          type="text"
          placeholder="Name"
          required={true}
      />
      <Input
          name="emailAddress"
          type="email"
          placeholder="Email address"
          required={true}
      />
      <div class="flex justify-start">
        <button type="submit" class="text-white bg-black hover-gradient focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Download</button>
      </div>
    </form>
  </Fragment>
</ContentSection>
