---
import ContentSection from "~/components/content-section.astro";
import Gradient from "./gradient.astro";
import Input from "./input.astro";
import LeadForm from "./lead-form.astro";

---

<ContentSection id="download-pdc" white={true} horizontal={true}>
  <Fragment slot="subtitle"><Gradient>Download</Gradient></Fragment>
  <Fragment slot="lead">
    you will receive <span class="text-primary">via email</span> the PDC canvas
    to perform a first checkup on your own.
  </Fragment>
  <Fragment slot="content">
    <LeadForm>
      <Input
          name="firstName"
          type="text"
          placeholder="Name"
          required={true}
      />
      <Input
          name="emailAddress"
          type="email"
          placeholder="Email address"
          required={true}
      />
    </LeadForm>
  </Fragment>
</ContentSection>
