---
import ContentSection from "~/components/content-section.astro";
import Gradient from "./gradient.astro";
import Input from "./input.astro";
import LeadForm from "./lead-form.astro";

---

<ContentSection id="download-pdc" white={true} horizontal={true}>
  <Fragment slot="subtitle"><Gradient>Download</Gradient></Fragment>
  <Fragment slot="lead">
    you will receive <span class="text-primary">via email</span> the PDC canvas
    to perform a first checkup on your own.
  </Fragment>
  <Fragment slot="content">
    <LeadForm
      formId="a0cc365b42fc24ad1ca27156b0c8025e"
      success="Documento inviato con successo!"
      error="Si è verificato un errore durante l'invio del modulo. Riprova più tardi."
    >
      <Input type="text" name="firstName" placeholder="Name" required={true} />
      <Input type="email" name="emailAddress" placeholder="Email address" required={true} />
    </LeadForm>
  </Fragment>
</ContentSection>
