---
import { Icon } from "astro-icon/components";
import ContentSection from "./content-section.astro";
---

<ContentSection id="intro" >
  <Fragment slot="title">
    Download <span class="gradient-text">PDC Canvas</span><br />for your company
  </Fragment>
  <Fragment slot="lead">
    Astro is a new kind of site builder for the
    <span class="text-primary">modern</span> web.
    <span class="text-primary">Lightning-fast</span>
    performance meets <span class="text-primary">powerful</span> developer experience.
  </Fragment>
  <div class="grid grid-cols-1">
    <a
      href="#compatibility"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:download" class="size-8" />
      <span>Download</span>
    </a>
  </div>
</ContentSection>
