---
// const inputObjects = {
//   name: { type: "text" },
//   lastName: { type: "text" },
//   middleName: { type: "text" },
//   title: { type: "text" },
//   industry: { type: "text" },
//   website: { type: "url" },
//   address: { type: "text" },
//   phoneNumber: { type: "tel" },
//   description: { type: "textarea" },
// } as const;

export interface Props {
  formId: string;
}

const { formId } = Astro.props;
---

<form id="lead-form" data-form-id={formId} class="w-full mb-6 grid gap-6 px-8">
  <slot />
  <div class="flex justify-start">
    <button type="submit" class="text-white bg-black hover-gradient focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Download</button>
  </div>
</form>
<script>
  const form = document.querySelector("#lead-form");
  const formId = form?.dataset.formId;

  form?.addEventListener("submit", async function(event) {
    event.preventDefault();
    const formData = new FormData(event.currentTarget);

    const payloadData = JSON.stringify(Object.fromEntries(formData));

    const response = await fetch(`https://crm.qmates.tech/api/v1/LeadCapture/${formId}`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'Accept': 'application/json',
      },
      mode: 'cors',
      body: payloadData,
    })

    if (response.ok) {
      // Success
    } else {
      // Error
      alert('error occurred');
    }
  });

</script>